
body{
	background-image: url(../images/background.png);
}
h1{
	font-size:1.7em;
}

div{
	/*border: 1px solid;*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
} 
li {
    display: inline;
} 
li.last-li{
	float:right;
	padding-right:0;	
}

a { 
	color: inherit; 
} 
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}
a.focus{
	color:none;
}

.btn1 {	
    background: #98b827;
    border-radius: 5px;
	height: 50px;
	color: white;
	padding: 0 15px;
}

.hightlight{
	color:#98b827;
}

.wrap{
	margin:0px auto;
	width: 1024px;
}
.topbar{
	height: 30px;
	line-height: 30px;
	background-color: white;
}
.config{
	float:left;
	
}
.config li{
	margin-right: 30px;
	color:#a0a0a0;
}
.config select{
	border: 0;
	color:#98b827;
}
.user_profile li{
	margin-left: 10px;
	color:#a0a0a0;
}
.user_profile{
	float:right;
}
.header{
	position: relative;
	height: 150px;
	line-height: 150px;
}
.logo{
	float:left;
	vertical-align: middle;
}
.logo img{
	vertical-align: middle;
}

.social{
	float:right;
}

.search_div{
	position:relative;
    padding:0;
    margin:0;    

}
.search_div input{
	width: 220px;
	height:35px;
	padding-left: 10px;
	border-radius: 5px;
	border: 1px solid #c4c4c4;
}
.search_div a{
	position:absolute;
	right:4px;
	margin-top: 17px;
}

.menu{	
}

.menu li {
    float: left;
    padding-right: 30px;
}
.menu ul li a {
    display:table-cell;
    vertical-align: middle;
    height:50px;
}
.menu li.last-li{
	float:right;
	padding-right:0;	
}

.cart {	
    background: #98b827 url("../images/cart.png") no-repeat ;
    background-position: 10px 50%;	
	border-radius: 5px;
	width: 120px;
	height: 50px;
	padding-left: 40px;
	color: white;
	margin-left: 100px;
}

.banner img{
	width:100%;
}
.banner:after{
	clear:both;
}
.info_more{

}

.info_more li{
	vertical-align: middle;
}

.slogen{
	display: inline;
	font-weight:normal;
}
.prod_list{
	position: relative;
}

.product_card{
	width:25%;	
	float : left;
}

.product_card img{
	width:100%;	
}
.description {
	border-top: 1px solid;
	border-bottom: 1px solid;
}
.brand{
	clear:both;
	margin-bottom: 20px;
}
.brand img{
	width:18%;
	border:1px solid;
	padding: 0;
}
.footer div{
	float:left;
	width:25%;
}