
body{
	background-image: url(../images/background.png);
}

div{
	/*border: 1px solid;*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
} 
li {
    display: inline;
} 
li.last-li{
	float:right;
	padding-right:0;	
}
.hightlight{
	color:#98b827;
}

.wrap{
	margin:0px auto;
	width: 1024px;
}
.topbar{
	height: 30px;
	line-height: 30px;
	background-color: white;
}
.config{
	float:left;
	
}
.config li{
	margin-right: 30px;
	color:#a0a0a0;
}
.config select{
	border: 0;
	color:#98b827;
}
.user_profile li{
	margin-left: 10px;
	color:#a0a0a0;
}
.user_profile{
	float:right;
}
.header{
	position: relative;
	height: 150px;
	line-height: 150px;
}
.logo{
	float:left;
	vertical-align: middle;
}
.logo img{
	vertical-align: middle;
}
.social{
	float:right;
}
.social input{
	height: 20px;
}
.menu{
	clear:both;
}
.menu li {
    float: left;
    padding-right: 30px;
}

.banner img{
	width:100%;
}
.info_more{

}
.prod_list{
	position: relative;
}

.product_card{
	width:25%;	
	float : left;
}

.product_card img{
	width:100%;	
}
.description {
	border-top: 1px solid;
	border-bottom: 1px solid;
}
.brand{
	clear:both;
	margin-bottom: 20px;
}
.brand img{
	width:18%;
	border:1px solid;
	padding: 0;
}
.footer div{
	float:left;
	width:25%;
}